In [1]:
import googlemaps
import pandas as pd
import time
import numpy as np

In [2]:
gmaps = googlemaps.Client (key = 'AIzaSyDFJVNWIJMny9XswQ_wOuHWh11iL7mc7uo')

In [3]:
df = pd.DataFrame.from_csv ('university_list_countries.csv', encoding = 'iso-8859-1')
df ['lat'] = 0
df ['lng'] = 0
df.head ()

,Country,University,Website,lat,lng
0,Afghanistan,Afghan University,www.afghanuniversity.edu.af,0,0
1,Afghanistan,Al-Birony University,www.au.edu.af,0,0
2,Afghanistan,American University of Afghanistan,www.auaf.edu.af,0,0
3,Afghanistan,Aria Institute of Higher Education,www.aria.edu.af,0,0
4,Afghanistan,Ariana Institute of Higher Education,www.ariana.edu.af,0,0

In [5]:
p = 0

for i in df.index:
    
    if (((i + 1) * 100) / df.shape [0]) > p:
        p += 1
        print (p + '% Done')
    
    result_complete = []
    try:
        result_complete = gmaps.places (df.loc [i, 'University']) ['results']
    except googlemaps.exceptions.HTTPError:
        continue
    if (len (result_complete) == 0):
        continue
    result = result_complete [0] ['geometry'] ['location']
    df.loc [i, 'lat'] = result ['lat']
    df.loc [i, 'lng'] = result ['lng']
    
df.head ()

50.0% Done
100.0% Done

,Country,University,Website,lat,lng
0,Afghanistan,Afghan University,www.afghanuniversity.edu.af,34.475522,69.126454
1,Afghanistan,Al-Birony University,www.au.edu.af,35.126848,69.317578
2,Afghanistan,American University of Afghanistan,www.auaf.edu.af,34.475522,69.126454
3,Afghanistan,Aria Institute of Higher Education,www.aria.edu.af,27.030823,75.893719
4,Afghanistan,Ariana Institute of Higher Education,www.ariana.edu.af,30.310454,-97.859309

In [6]:
df.to_csv ('University_locations.csv')

In [4]:
df = pd.DataFrame.from_csv ('University_locations.csv', encoding = 'iso-8859-1')

In [5]:
ranks = pd.DataFrame.from_csv ('../keywords/rankfalcon_exports/weighted_rankings.csv')
ranks ['University'] = ranks.index
ranks.index = range (ranks.shape [0])
ranks.head ()

         Country  rank   inv_rank                         University
0  Massachusetts  7547  25.329307                  Boston University
1       New York  7445  15.952792                New York University
2     California  6479  15.136372                Stanford University
3  New Hampshire  2788  14.145092  Southern New Hampshire University
4       New York  4861  14.031654                Columbia University

In [18]:
df_short = df [(df ['lat'] != 0) | (df ['lng'] != 0)]

In [6]:
sites = ranks ['University'].values
s_sites = df ['University'].values

i = 0

for s in sites:
    if s not in s_sites:
        i += 1
        
print (i)
print (i / len (sites))

74
0.05114029025570145

In [25]:
df_ranked = df [[(df.loc [i, 'University'] in ranks ['University'].values) for i in df.index]]
df_ranked.shape

(1385, 5)

In [29]:
df_not_matching = ranks [[(ranks.loc [i, 'University'] not in df ['University'].values) for i in ranks.index]]

In [30]:
df_not_matching

,Country,rank,inv_rank,University
175,Germany,2344,1.411372,Freie Universität Berlin
256,Spain,1967,0.792654,Universidad Politécnica de Cataluna
346,Germany,821,0.495138,Ruprecht-Karls-Universität Heidelberg
381,Germany,827,0.421960,Rheinische Friedrich-Wilhelms Universität Bonn
397,Germany,829,0.392941,Universität Hamburg
421,Spain,866,0.359817,Universidad Autónoma de Madrid
433,Germany,1240,0.344102,Humboldt Universität Berlin
461,Spain,471,0.307768,Universidad Politécnica de Valencia
489,Sweden,686,0.275428,Göteborg University
521,Germany,1039,0.231320,Ludwig-Maximilians-Universität München
532,Canada,541,0.221029,Université de Montréal
565,Germany,398,0.195059,Universität Kaiserslautern
586,Sweden,481,0.179270,Linköping University
594,Germany,1008,0.175808,Johann Wolfgang Goethe Universität Frankfurt a...
635,Germany,800,0.155409,Rheinisch Westfälische Technische Hochschule A...
646,Germany,435,0.152473,Universität Regensburg
650,Germany,717,0.151024,Georg-August Universität Göttingen
721,Germany,470,0.120762,Bauhaus Universität Weimar
723,Germany,419,0.120713,Universität Konstanz
735,Germany,230,0.111942,Universität des Saarlandes
742,France,164,0.109251,Université Panthéon-Sorbonne (Paris I)
754,France,393,0.105281,Université de Cergy-Pontoise
769,Austria,484,0.101368,Technische Universität Graz
773,Spain,301,0.100285,Universidad Politécnica de Madrid
806,Norway,310,0.088927,University of Tromsø
836,Germany,351,0.079926,Universität Mannheim
851,Germany,477,0.076469,Technische Universität Chemnitz
879,Austria,257,0.069358,Universität Vienna
889,Germany,378,0.067429,Universität Passau
890,Belgium,267,0.067193,Université de Liège
...,...,...,...,...
1140,Germany,125,0.032002,Universität Kassel
1144,France,32,0.031250,Institut Supérieure d'Electronique de Paris
1157,Canada,34,0.029412,Université du Québec à Chicoutimi
1174,France,37,0.027027,Université Blaise Pascal (Clermont-Ferrand II)
1197,Germany,164,0.025019,Ruhr-Universität Bochum
1206,Spain,165,0.024250,Universitat Autónoma de Barcelona
1222,Sweden,177,0.022600,Mälardalen University
1237,Austria,187,0.021406,"FH Oberösterreich, Campus Hagenberg"
1244,Canada,189,0.021165,Université Laval
1267,Germany,55,0.018182,Pädagogische Hochschule Heidelberg
1286,Belgium,61,0.016393,Université Libre de Bruxelles
1288,Germany,62,0.016129,Johannes-Gutenberg Universität Mainz
1294,Germany,63,0.015873,Universität Leipzig
1305,Germany,67,0.014925,Universität Köln
1307,Austria,67,0.014925,Universität Salzburg
1310,Hungary,68,0.014706,Pázmány Péter Catholic University
1312,Austria,69,0.014493,Paracelsus Medizinische Privatuniversität
1326,France,73,0.013699,Université d'Evry Val d'Essonne
1327,Finland,73,0.013699,University of Jyväskylä
1332,Germany,73,0.013699,Friedrich-Schiller Universität Jena
1351,Germany,78,0.012821,Otto-Friedrich Universität Bamberg
1367,Germany,80,0.012500,Pädagogische Hochschule Ludwigsburg
1382,France,86,0.011628,Ecole Normale Supérieure de Lyon
1383,Germany,86,0.011628,Eberhard-Karls-Universität Tübingen
1391,Germany,89,0.011236,Martin-Luther Universität Halle-Wittenberg
1395,France,90,0.011111,Université Paris-Dauphine (Paris IX)
1404,France,92,0.010870,Université de Nantes
1413,France,93,0.010753,Université de Pau et des Pays de l'Adour
1421,Germany,95,0.010526,Technische Universität Darmstadt
1436,France,98,0.010204,Université Victor Segalen (Bordeaux II)