In [1]:
import pandas as pd
import numpy as np

In [17]:
keywords = pd.read_csv('keywords.csv')
sites = pd.read_csv('sites.csv')
rankings = pd.read_csv('rankings.csv')

rankings = rankings.merge(keywords, on='id_keyword')
rankings = rankings.merge(sites, on='id_site')
# rankings = rankings[['rank','keyword', 'domain', 'site']]
rankings

,id_ranking,rank,id_keyword,id_site,keyword,domain
0,66634,43,726,76,bachelor's degree in Economics,www.au.dk
1,200782,42,726,76,bachelor's degree in Economics,www.au.dk
2,156043,91,731,76,bachelor's degree in English Language,www.au.dk
3,313988,29,701,76,bachelor's degree in Archaeology,www.au.dk
4,402022,7,707,76,bachelor's degree in Business & Commercial Law,www.au.dk
5,874336,7,707,76,bachelor's degree in Business & Commercial Law,www.au.dk
6,1273764,7,707,76,bachelor's degree in Business & Commercial Law,www.au.dk
7,1406694,7,707,76,bachelor's degree in Business & Commercial Law,www.au.dk
8,1668060,7,707,76,bachelor's degree in Business & Commercial Law,www.au.dk
9,402400,79,753,76,bachelor's degree in German,www.au.dk
10,780080,79,753,76,bachelor's degree in German,www.au.dk
11,1027619,80,753,76,bachelor's degree in German,www.au.dk
12,1323643,80,753,76,bachelor's degree in German,www.au.dk
13,414914,80,803,76,bachelor's degree in Spanish,www.au.dk
14,576246,65,769,76,bachelor's degree in Linguistics,www.au.dk
15,915216,65,769,76,bachelor's degree in Linguistics,www.au.dk
16,1247057,65,769,76,bachelor's degree in Linguistics,www.au.dk
17,1461901,65,769,76,bachelor's degree in Linguistics,www.au.dk
18,630645,60,714,76,bachelor's degree in Chinese,www.au.dk
19,1252583,62,714,76,bachelor's degree in Chinese,www.au.dk
20,1456184,63,714,76,bachelor's degree in Chinese,www.au.dk
21,641348,74,765,76,bachelor's degree in Italian,www.au.dk
22,1434978,74,765,76,bachelor's degree in Italian,www.au.dk
23,1462467,81,785,76,bachelor's degree in Politics,www.au.dk
24,2139706,79,785,76,bachelor's degree in Politics,www.au.dk
25,2890364,78,785,76,bachelor's degree in Politics,www.au.dk
26,1668142,33,738,76,bachelor's degree in French,www.au.dk
27,2090460,33,738,76,bachelor's degree in French,www.au.dk
28,2578596,33,738,76,bachelor's degree in French,www.au.dk
29,2907350,33,738,76,bachelor's degree in French,www.au.dk
...,...,...,...,...,...,...
34337,5678507,24,963,8089,phd in General Computing,www.ksu.edu
34338,5632433,88,942,669,phd in Computing & IT,www.buid.ac.ae
34339,6115622,7,1012,669,phd in Project Management,www.buid.ac.ae
34340,5749214,98,942,9314,phd in Computing & IT,www.wpi.edu
34341,6110797,47,996,9314,phd in Mathematical Methods,www.wpi.edu
34342,6245366,37,1019,9314,phd in Science,www.wpi.edu
34343,5668109,69,968,3368,phd in General Law,www.ccu.edu.tw
34344,5938173,88,973,7156,phd in General Technology,www.wit.ie
34345,5961376,17,973,8400,phd in General Technology,www.ncat.edu
34346,6075863,55,983,2120,phd in Heritage,www.imtlucca.it
34347,6087196,78,996,4520,phd in Mathematical Methods,www.spbu.ru
34348,6096260,52,996,6489,phd in Mathematical Methods,www.unical.it
34349,6096719,14,996,6577,phd in Mathematical Methods,www.unige.it
34350,6096903,5,996,6619,phd in Mathematical Methods,www.uninsubria.it
34351,6098638,69,996,7006,phd in Mathematical Methods,www.zcu.cz
34352,6111213,93,1016,7951,phd in Religious Studies,www.gtu.edu
34353,6110391,85,988,611,phd in International Studies,www.bilkent.edu.tr
34354,6113010,84,988,1379,phd in International Studies,www.euclid.int
34355,6142774,67,1012,6087,phd in Project Management,www.uni-koeln.de
34356,6175431,61,993,6692,phd in Linguistics,www.um.edu.mt
34357,6166669,37,1018,622,phd in Retail Management,www.bimtech.ac.in
34358,6168516,75,1018,898,phd in Retail Management,www.christuniversity.in
34359,6174470,63,1018,1804,phd in Retail Management,www.hhl.de
34360,6196056,90,1018,6316,phd in Retail Management,www.dauphine.fr
34361,6195480,63,1023,6089,phd in Social Sciences,www.uni-leipzig.de
34362,6221985,24,994,8204,phd in Management,www.mum.edu
34363,6248752,84,1014,7597,phd in Psychology & Counselling,www.carlow.edu
34364,6250867,54,1014,8033,phd in Psychology & Counselling,www.immaculata.edu
34365,6270841,29,1020,7827,phd in Secondary Education,www.esu.edu
34366,6276914,93,1015,6715,phd in Pure Mathematics,www.unimib.it

       id_ranking  rank  id_keyword  id_site                         keyword
0           66634    43         726       76  bachelor's degree in Economics
1           67456    75         726      448  bachelor's degree in Economics
2           68484    62         726      966  bachelor's degree in Economics
3           75710    97         726     4344  bachelor's degree in Economics
4           77369    72         726     5150  bachelor's degree in Economics
5           78657    85         726     5791  bachelor's degree in Economics
6           79867    76         726     6410  bachelor's degree in Economics
7           79991    98         726     6472  bachelor's degree in Economics
8           80576    71         726     6748  bachelor's degree in Economics
9           80630    44         726     6777  bachelor's degree in Economics
10          80733    51         726     6823  bachelor's degree in Economics
11          81936    82         726     7381  bachelor's degree in Economics
12          81993    78         726     7404  bachelor's degree in Economics
13          82084    32         726     7449  bachelor's degree in Economics
14          82258    10         726     7516  bachelor's degree in Economics
15          82380    65         726     7537  bachelor's degree in Economics
16          82595    17         726     7589  bachelor's degree in Economics
17          82701    25         726     7617  bachelor's degree in Economics
18          82730    41         726     7625  bachelor's degree in Economics
19          82776    60         726     7644  bachelor's degree in Economics
20          82836    47         726     7667  bachelor's degree in Economics
21          82946    26         726     7712  bachelor's degree in Economics
22          83368    54         726     7880  bachelor's degree in Economics
23          83436    19         726     7901  bachelor's degree in Economics
24          83484     6         726     7920  bachelor's degree in Economics
25          83554    52         726     7953  bachelor's degree in Economics
26          83879    68         726     8219  bachelor's degree in Economics
27          83908    40         726     8241  bachelor's degree in Economics
28          83987    66         726     8276  bachelor's degree in Economics
29          84241    61         726     8395  bachelor's degree in Economics
...           ...   ...         ...      ...                             ...
34337     6276755    58        1015     6633         phd in Pure Mathematics
34338     6276817    43        1015     6665         phd in Pure Mathematics
34339     6276820    25        1015     6666         phd in Pure Mathematics
34340     6276832    10        1015     6672         phd in Pure Mathematics
34341     6276914    93        1015     6715         phd in Pure Mathematics
34342     6276955    74        1015     6736         phd in Pure Mathematics
34343     6276977    37        1015     6746         phd in Pure Mathematics
34344     6277006    21        1015     6767         phd in Pure Mathematics
34345     6277141    35        1015     6902         phd in Pure Mathematics
34346     6277212    39        1015     6973         phd in Pure Mathematics
34347     6277242    23        1015     7003         phd in Pure Mathematics
34348     6277244     9        1015     7005         phd in Pure Mathematics
34349     6277528    63        1015     7289         phd in Pure Mathematics
34350     6277837    89        1015     7598         phd in Pure Mathematics
34351     6278015    54        1015     7776         phd in Pure Mathematics
34352     6278123    29        1015     7884         phd in Pure Mathematics
34353     6278224    34        1015     7985         phd in Pure Mathematics
34354     6278306    48        1015     8067         phd in Pure Mathematics
34355     6278314    81        1015     8075         phd in Pure Mathematics
34356     6278480    31        1015     8241         phd in Pure Mathematics
34357     6278973    42        1015     8734         phd in Pure Mathematics
34358     6278978    15        1015     8739         phd in Pure Mathematics
34359     6279180    59        1015     8941         phd in Pure Mathematics
34360     6279197    84        1015     8958         phd in Pure Mathematics
34361     6279201    57        1015     8962         phd in Pure Mathematics
34362     6279211    51        1015     8972         phd in Pure Mathematics
34363     6279250    92        1015     9011         phd in Pure Mathematics
34364     6279258    86        1015     9019         phd in Pure Mathematics
34365     6279330    40        1015     9091         phd in Pure Mathematics
34366     6279475    82        1015     9236         phd in Pure Mathematics

[34367 rows x 5 columns]